<h3> View Student Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{student.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{student.lastName}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{student.age}}
    </div>
    <div>
      <label> <b> City: </b></label> {{student.city}}
  </div>
  <div>
    <label> <b> Height: </b></label> {{student.height}}
  </div>
  <div>
    <label> <b> Weight: </b></label> {{student.weight}}
  </div>
  <div>
    <label> <b> Hobbies: </b></label> {{student.hobbies}}
  </div>
</div>
