<div class="col-md-6 offset-md-3">
  <h3> Update Student </h3>
  <form (ngSubmit) = "onSubmit()" >

      <div class="form-group">
          <label> First Name</label>
          <input type="text" class ="form-control" id = "firstName"
              [(ngModel)] = "student.firstName" name = "firstName" >
      </div>

      <div class="form-group">
          <label> Last Name</label>
          <input type="text" class ="form-control" id = "lastName"
              [(ngModel)] = "student.lastName" name = "lastName">
      </div>

      <div class="form-group">
        <label> Age</label>
        <input type="text" class ="form-control" id = "age"
            [(ngModel)] = "student.age" name = "age">
      </div>

      <div class="form-group">
        <label> City</label>
        <input type="text" class ="form-control" id = "city"
            [(ngModel)] = "student.city" name = "city" >
      </div>

      <div class="form-group">
        <label> Height </label>
        <input type="text" class ="form-control" id = "height"
            [(ngModel)] = "student.height" name = "height">
      </div>

      <div class="form-group">
        <label> Weight </label>
        <input type="text" class ="form-control" id = "weight"
            [(ngModel)] = "student.weight" name = "weight">
      </div>

      <div class="form-group">
        <label> Hobbies </label>
        <input type="text" class ="form-control" id = "hobbies"
            [(ngModel)] = "student.hobbies" name = "hobbies">
      </div>

      <button class = "btn btn-success"  type ="submit">Submit</button>

  </form>
  </div>
